# **Melbourne House Price Prediction**
The dataset used is a snapshot of the Melbourne House Prediction dataset on Kaggle.

## **Data Exploration**

In [0]:
import pandas as pd

In [0]:
#save file_path for access 
house_data_file_path = '../demo/data/melb_data.csv'

In [0]:
housedata = pd.read_csv(house_data_file_path)

In [0]:
housedata.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [0]:
housedata.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [0]:
# Dealing with Missing Data
housedata = housedata.dropna(axis=0)

In [0]:
y = housedata.Price

In [0]:
housedata_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [0]:
X = housedata[housedata_features]

In [0]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [0]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

## **Model**

In [0]:
from sklearn.tree import DecisionTreeRegressor

In [0]:
housedata_model = DecisionTreeRegressor(random_state=1)

In [0]:
housedata_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [0]:
print('Making predictions for:')
print(X.head())

Making predictions for:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [0]:
print('Predictions are:')
print(housedata_model.predict(X.head()))

Predictions are:
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [0]:
from sklearn.metrics import mean_absolute_error

In [0]:
predicted_home_price = housedata_model.predict(X)

In [0]:
mean_absolute_error(y,predicted_home_price)

1115.7467183128902

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train_X, val_X, train_y, val_y = train_test_split(X,y,random_state=0)

In [0]:
housedata_model = DecisionTreeRegressor()

In [0]:
housedata_model.fit(train_X,train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [0]:
val_predictions = housedata_model.predict(val_X)

In [0]:
mean_absolute_error(val_y,val_predictions)

271831.3823972455

In [0]:
def get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,random_state=0)
    model.fit(train_X,train_y)
    pred_val = model.predict(val_X)
    mae = mean_absolute_error(val_y,pred_val)
    return (mae)

In [0]:
get_mae(5, train_X, val_X, train_y, val_y)

385696.54278937966

In [0]:
for max_leaf_nodes in [5,50,500,1230]:
    my_mae = get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y)
    print(my_mae)

385696.54278937966
279794.61143891385
261718.1134423186
263927.8784820717

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
forest_model = RandomForestRegressor(random_state=0)

In [0]:
forest_model.fit(train_X,train_y)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [0]:
forest_preds = forest_model.predict(val_X)

In [0]:
print(mean_absolute_error(val_y,forest_preds))

215038.14009038088